<div class="container" [ngClass]="{'hidden': showSbContainer}">
  <div class="booking-header">Paiements <span> › </span> Import </div>
  <div class="booking-body">

    <div class="body-actions" style="display: flex;">
      <div style="flex: 0 1 20%">
        <input
              type="file"
              class="file-input"
              [accept]="'.txt,.cod,.coda'"
              (change)="onFileSelected($event)"
              #fileUpload>
      </div>
      <div style="margin-left: auto;">
        <button mat-stroked-button (click)="fileUpload.click()" color="primary">Importer</button>
      </div>
    </div>



  </div>
</div>

<div id="sb-composition-container" class="sb-container"></div>