<div class="reservedBox" [class.is-weekend]="is_weekend">

    <div class="reservedBoxBg" [class.invert]="consumptions.length">
        {{ day | date: 'd' }}
    </div>

    <ng-container *ngFor="let consumption of consumptions">
        <div *ngIf="consumption" style="height: 100%; position: relative;" (click)="onShowBooking(consumption)" >

            <div class="booking-details" [style.background-color]="color" [class.sojourn]="sojourns.length">

                <div style="display: flex;">
                    <div style="flex: 0 1 20%;">{{consumption.booking_id.name}}</div><div style="margin-left: auto">{{consumption.booking_id.status}}</div>
                </div>

                <div style="display: flex;">
                    <div style="flex: 0 1 20%;">{{consumption.booking_id.customer_id.name}}</div><div style="margin-left: auto">{{consumption.booking_id.payment_status}}</div>
                </div>

            </div>

        </div>
    </ng-container>

    <div *ngIf="is_today" class="is-today"></div>
</div>