<div class="container">

  <div [class.hidden]="!loading" class="loader"><mat-spinner></mat-spinner></div>

  <div class="booking-header">
    <div>Réservation <small>[{{booking.name}} - {{booking.id}}]</small> <span> › </span> Envoi du Devis</div>
  
    <div class="lang-selector">             
      <mat-form-field appearance="fill">
        <mat-label>Langue</mat-label>
        <mat-select disableOptionCentering (selectionChange)="onchangeLanguage($event)" [ngModel]="lang">
          <mat-option *ngFor="let lang of languages" [value]="lang.code">{{lang.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      
    </div>
  
  </div>

  <div class="booking-body">

    <div class="body-actions" style="display: flex;">
      <div class="actions-std"></div>
      <div class="actions-view">

        <a target="_blank" [attr.href]="'/?get=lodging_booking_print-booking&view_id=print.default&lang=' + lang + '&id=' + booking_id">
          <button mat-stroked-button>Voir le devis</button>
        </a>

        <button mat-flat-button color="accent" (click)="onSend()" [disabled]="is_sent">Envoyer</button>
      </div>      
    </div>   


    <div class="row">
      <div class="column">
        <div class="cell title">Réservation</div>
        <div class="cell">{{ booking.name }}</div>
      </div>
      <div class="column">
        <div class="cell title">Client</div>
        <div class="cell">{{ customer.name }} &nbsp; &nbsp;<small>({{getLangName(customer.lang_id)}})</small></div>
      </div>
    </div>

    <div class="row">
    </div>

    <div class="row">

      <div class="column">
        <div class="cell title">Expéditeur</div>
        <div class="cell">
          <mat-form-field>
            <mat-label>Adresses d'expédition</mat-label>
            <mat-select [formControl]="vm.sender.formControl" (selectionChange)="vm.sender.change($event)" required>
              <mat-option *ngFor="let address of vm.sender.addresses" [value]="address">{{address}}</mat-option>
            </mat-select>
            <mat-error *ngIf="vm.sender.formControl.invalid">
              Ne peut être vide.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      
      <div class="column">
        <div class="cell title">Destinataire</div>
        <div class="cell">
          <mat-form-field>
            <mat-label>Adressses de destination</mat-label>
            <mat-select [formControl]="vm.recipient.formControl" (selectionChange)="vm.recipient.change($event)" required>
              <mat-option *ngFor="let address of vm.recipient.addresses" [value]="address">{{address}}</mat-option>
            </mat-select>
            <mat-error *ngIf="vm.sender.formControl.invalid">
              Ne peut être vide.
            </mat-error>
          </mat-form-field>
        </div>

        
      </div>
    </div>


    <div class="row">

      <div class="column" style="width: 100%">
        <mat-form-field>
          <input  type="text" 
                  autocomplete="off"
                  placeholder="Titre"
                  matInput 
                  (blur)="vm.title.change($event)"
                  [formControl]="vm.title.formControl" >
          <mat-error *ngIf="vm.title.formControl.hasError('required')">
            Ne peut être vide.
          </mat-error>
        </mat-form-field>

      </div>
    </div>      

    <div class="row">

      <div class="column" style="display: block; width: 100%; margin-top: 10px;">
        <quill-editor 
          [formControl]="vm.message.formControl" 
          theme="snow"
          (onEditorChanged)="vm.message.change($event)"
          [placeholder]="'Corps du message'">
        </quill-editor>
      </div>
      
    </div>    

    <div class="row" style="margin-top: 30px;">
      <div class="column" style="width: 100%; flex-direction: column;">

        <div style="display: flex;"><mat-icon>attach_file</mat-icon> Pièces jointes</div>
        <div *ngFor="let attachment of vm.attachments.items" style="margin-left: 10px; display: flex; align-items: center;">

          <div><b>{{attachment.name}}</b> ({{attachment.document_id.name}})</div>
          <button mat-icon-button (click)="onRemoveAttachment(attachment)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>  

      </div>
    </div>
  </div>
</div>
