.mat-card{
    display: flex;
    height: 9rem;
    margin:0.3rem;
    .titleBox{
        border-right:0.5px solid black;
        padding: 0.2rem;
        margin:0.2rem;
        overflow: hidden;
        width:50%;
        .mat-card-title{
            font-size:1rem;
        }
        .mat-card-subtitle{
            font-size:0.8rem;
        }
    }
    .mat-form-field{
        width: 100%;
        padding: 0.2rem;
        margin:0.2rem;
        .resetButton{
            min-width: 0.4rem; 
            padding-left: 0.4rem;
            padding-right: 0.3rem;
        }
    }
    .btn1{
        display: none;
      }
    .btnStyle{
        display: inline-block;
      }
    .submitButton{
        min-width: 2.35rem; 
        padding-left: 0.4rem;
        padding-right: 0.3rem; 
        border-radius: 50%;
        margin-bottom: 0.2rem;
    }
}