.mat-selection-list{
    .mat-list-option{
        margin-bottom: 0.45rem; 
        height: max-content;
        div{
            display: flex; 
            justify-content: space-between;
        }
        p{
            font-weight: bolder;
        }
        .listHeader{
            display: flex;
            justify-content: space-around;
            padding: 0.5rem;
        }
    }
}