<div #vGroup="var" [var]="{rental_units: {folded: false}}"></div>

<div class="part">

  <div class="part-toggle">
    <button mat-icon-button *ngIf="!vGroup.rental_units.folded" (click)="vGroup.rental_units.folded = !vGroup.rental_units.folded">
      <mat-icon style="font-size: 15px;">keyboard_arrow_up</mat-icon>
    </button>
    <button mat-icon-button *ngIf="vGroup.rental_units.folded" (click)="vGroup.rental_units.folded = !vGroup.rental_units.folded">
      <mat-icon style="font-size: 15px;">keyboard_arrow_right</mat-icon>
    </button>
  </div>

  <div class="part-container" *ngIf="vGroup.rental_units.folded">
    <div class="row">
      <div class="row-products-title">{{product.name}} ({{product.id}}) [{{vm.assignments.total}}]</div>
    </div>
  </div>

  <div class="part-container" *ngIf="!vGroup.rental_units.folded">
    <div class="row">
      <div class="row-products-title">{{product.name}} [{{vm.assignments.total}}] <button mat-mini-fab color="primary" style="transform: scale(0.65);" (click)="vm.assignments.add()"> <mat-icon>add</mat-icon></button></div>
    </div>

    <div class="row" *ngFor="let assignment of assignments; let index = index;">
      <div class="row-line">
        <booking-edit-bookings-group-accomodation-line [assignment]="assignment" [productInput]="product" [groupInput]="groupInput" [bookingInput]="bookingInput" (updated)="updateFromLine($event)"></booking-edit-bookings-group-accomodation-line>
      </div>      
      <div class="row-remove"><button mat-icon-button (click)="vm.assignments.remove(assignment)"> <mat-icon>delete</mat-icon></button></div>
    </div>

  </div>

</div>



