<div class="container">

  <div class="outer-wrapper" style="width: 100%">
    <div class="header" style="display: flex; width: 100%;">
      <div *ngIf="booking.status == 'quote' || booking.status == 'checkedout'" style="flex: 1;">Ajouter un groupe de services <button mat-mini-fab color="primary" style="transform: scale(0.66);" (click)="vm.groups.add()"> <mat-icon>add</mat-icon></button></div>
      <div style="margin-left: auto; font-size: 20px;">Total TTC {{vm.price.value | number: '1.2-2'}} €</div>
    </div>    
    <div class="inner-wrapper" *ngIf="groups.length">
      <div class="groups-list" cdkDropList (cdkDropListDropped)="vm.groups.drop($event)">
        <!-- groups -->
        <div class="group-item" cdkDrag [cdkDragData]="group" *ngFor="let group of groups; let index = index;" >
          <div class="group-handle" cdkDragHandle ><mat-icon style="font-size: 16px;">drag_indicator</mat-icon></div>
          <div class="group-remove"><button mat-icon-button (click)="vm.groups.remove(group)"> <mat-icon>delete</mat-icon></button></div>
          <booking-edit-bookings-group [bookingInput]="bookingInput" [groupInput]="_groupOutput[index]" [groupOutput]="_groupInput" [folded]="vm.groups.folded[group.id]" (toggle)="vm.groups.toggle($event)"></booking-edit-bookings-group>
        </div>
      </div>
    </div>
  </div>

</div>