<div class="container" [class.hidden]="showSbContainer">
    <div class="booking-header">Réservation <small>[{{booking.name}} - {{booking.id}}]</small> <span> › </span> Services réservés</div>
    <div class="booking-body">

        <div style="height: 46px; margin-top: 10px;display: flex;">
            <div style="flex: 0 1 50%;"><!-- left actions --></div>
            <div style="margin-left: auto;">
                <span style="line-height: 40px;">Statut de la réservation: <strong>{{status[booking.status]}}</strong></span>
            </div>
        </div>

        <div>
            <booking-edit-bookings [bookingInput]="_bookingOutput" [bookingOutput]="_bookingInput"></booking-edit-bookings>
        </div>

    </div>
</div>

<div id="sb-booking-container" class="sb-container"></div>