
<div class="container" style="flex-direction: row;" *ngFor="let element of AccountingCharts">
    
        <mat-card class="example-card" style="width: 30%;" >
            <mat-card-subtitle>{{element.organisation_id}}</mat-card-subtitle>
            <mat-card-title>{{element.name}}</mat-card-title>
            <mat-card-content>
              <p>This card has divider and indeterminate progress as footer</p>
              <p></p>
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions>
              <button mat-button (click)="getChartLines()">LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
            <mat-card-footer>
            </mat-card-footer>
          </mat-card>
</div>





