
  <mat-card style="display: flex; height: 9rem;margin:0.3rem">
    <div style="border-right:0.5px solid black; padding: 0.2rem; margin:0.2rem;overflow: hidden;width:50%">
      <mat-card-title style="font-size: 1rem;">{{setting.title}}</mat-card-title>
      <mat-card-subtitle style="font-size: 0.8rem;">{{setting.help}}</mat-card-subtitle>
    </div>
    
    <mat-form-field appearance="standard" style="width:50%">
      <mat-label>{{setting.title}}</mat-label>
      <mat-select [value]="settingValue"  (selectionChange)="onChange($event)">
        <mat-option *ngFor="let choice of choices" value = "{{choice.value}}" >
         <span *ngIf="choice.name != ''" >{{choice.name}} <b>({{choice.value}})</b> </span>
         <span *ngIf="choice.name == ''" >{{choice.value}}</span>
          <!-- value foireux -->
        </mat-option>
      </mat-select> 
      <mat-hint>{{setting.description}}</mat-hint>
    </mat-form-field>
  </mat-card>
  




<!-- this solution works for Angular 11.2.1 and Material 11.2.1

You need to capture the changes with valueChanges observable

this.editForm.valueChanges
 .subscribe(value=> {
       if (this.editForm.dirty) {
              //do something
              }
           });
Notes to observe:

typically you don't need to put the filter if(this.editForm.dirty) {...} , because the normal behavior is this observer should kick in only if it is changed (dirty), but due to the material components mat-xxx, this observer is kicked in few times after the value changed of the field , so to avoid multiple unnecessary execution to the event you would have to filter the observable by this condition if (this.editForm.dirty) {...} it will execute only once it is changed. -->
<!-- again this works with reactive forms, I just noticed your question uses Template-driven but worth noting just in case someone is looking at solution for reactive forms. --> 