

<div>
    <planning-calendar-navbar
        [day]="day"
        [month]="month"
        [year]="year">
    </planning-calendar-navbar>
</div>

<div class="container">
    <table #calTable class="cal-table">
        <!-- header -->
        <thead>
            <tr class="head" >
                <td #calTableRefColumn class="ref-column cell-room" rowspan="2">ref.</td>
                <td class="stat-column cell-room" rowspan="2">stat.</td>
                <td class="head-months" *ngFor="let month of headers.months" [attr.colspan]="month.days.length" >
                    {{ month.date | date : 'MMMM y' }}
                </td>
            </tr>
            <tr class="head">
                <th #calTableHeadCells class="head-days" *ngFor="let dd of headers.days" [class.small]="cells_width <= 26" [class.hidden]="cells_width < 10">
                    <div *ngIf="cells_width > 26" class="week-day">{{ dd | date: 'EEE'}}</div>
                    <div *ngIf="cells_width <= 26" class="week-day">{{ dd | date: 'EEEEE'}}</div>
                    <div class="month-day">{{ dd | date: 'd'}}</div>
                </th>
            </tr>
        </thead>
        <tbody>
            <!-- body -->
            <tr class="rows" *ngFor="let rental_unit of rental_units; let index = index;">
                <td class="cell-room">{{ rental_unit.name }}<span class="cell-hint">{{ rental_unit.name }}</span></td>
                <td class="cell-room" ><!--status--></td>

                <td *ngFor="let day of headers.days" class="cell-days">
                    <planning-calendar-booking
                        [width]="cells_width"
                        [color]="colors[index % colors.length]"
                        [day]="day"
                        [consumptions]="getConsumptions(rental_unit, day)"
                        [sojourns]="getSojourns(rental_unit, day)"
                        >
                    </planning-calendar-booking>
                </td>
            </tr>
        </tbody>
    </table>
</div>
