

<div>
  <planning-calendar-navbar 
                            [day]="day"
                            [month]="month"
                            [year]="year"
                            (changedays)="onFiltersChange($event)">
  </planning-calendar-navbar>
</div>

<div class="container">
    <table class="tabreservation"> 
      <!-- header -->
      <thead #table_width>
      <tr class="head" >
        <td class="cell-room" rowspan="2" style="min-width: 100px;">ref.</td>
        <td class="cell-room" rowspan="2">stat.</td>
        <td class="head-months" *ngFor="let month of headerdays.months" [attr.colspan]="month.days" [style.width]="(100/headerdays.months.length)+'%'"> 
          {{ month.date | date : 'MMMM y' }}
        </td>
      </tr>
      <tr class="head">
        <th class="head-days" *ngFor="let dd of headerdays.headDays1"> 
          <span style="font-weight: 400">{{ dd | date: 'EEE'}}</span><br />
          {{ dd | date: 'd'}}
        </th>
        <th class="head-days" *ngFor="let dd of headerdays.headDays2"> 
          {{ dd | date: 'EEE'}}<br />
          {{ dd | date : 'd'}}
        </th>
      </tr>
    </thead>
    <tbody>
      <!-- body -->
      <tr class="rows" *ngFor="let rental_unit of rental_units; let index = index;">
        <td class="cell-room">{{ rental_unit.name }}</td>
        <td class="cell-room" ><!--status--></td>

        <td *ngFor="let day of headerdays.headDaysAll" class="cell-days">
          <planning-calendar-booking 
            [width]="cell_width"
            [color]="colors[index % colors.length]"
            [day]="day" 
            [booking]="getBooking(rental_unit, day)">
          </planning-calendar-booking>
        </td>
      </tr>
    </tbody>
    </table>
</div>
