
<div class="container">
    <div class="import-header">Settings <span> › </span> General </div>
    <div class="import-body">

        <div class="container">
            <mat-card *ngFor="let section of dataSorted;" style="box-shadow: none; padding:0;">
                <mat-card-title
                    style="border-bottom: 1px solid grey; background-color: #3f51b5; color: white; padding: 0.3rem;">
                    {{section[0].section}}</mat-card-title>
                <mat-card-content class="wrapper">
                    <div *ngFor="let setting of section" style="width: 100%;">
                        <app-widget-toggle [setting]="setting" *ngIf="setting.form == 'toggle'">
                        </app-widget-toggle>

                        <app-widget-select [setting]="setting"
                            *ngIf="setting.form == 'select'"
                             [choices]="setting.setting_choices_ids">
                        </app-widget-select>

                        <app-widget-form [setting] = "setting" *ngIf="setting.form == 'fill'">
                        </app-widget-form> 

                       
                    </div>

                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>