<div class="container">
    <div class="import-header">{{ 'SETTINGS_LIST_SETTING' | translate }} <span> › </span>  {{ settingRoute | translate }}  </div>
    <div class="import-body">
        <div class="container">
            <mat-card *ngFor="let section of dataSorted;" style="box-shadow: none; padding:0;">
                <mat-card-title>{{section[0].section}}</mat-card-title>
                <mat-card-content class="wrapper">
                    <div *ngFor="let setting of section" style="width: 100%;">
                        <app-widget-toggle [setting]="setting" *ngIf="setting.form == 'toggle'">
                        </app-widget-toggle>

                        <app-widget-select [setting]="setting" *ngIf="setting.form == 'select'"
                            [choices]="setting.setting_choices_ids">
                        </app-widget-select>

                        <app-widget-form [setting]="setting" *ngIf="setting.form == 'fill'">
                        </app-widget-form>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>