
<!-- template vars -->
<div #vProduct="var" [var]="{identification: {folded: true}, discounts: {folded: true}, adapters: {folded: true}, unit_price: {folded: true}, vat_rate: {folded: true}}"></div>


<!-- identification-->
<div class="part" [class.hidden]="!ready">
  <div class="part-toggle" [class.hidden]="groupInput.is_locked">
    <button mat-icon-button *ngIf="!vProduct.identification.folded" (click)="vProduct.identification.folded = !vProduct.identification.folded">
      <mat-icon style="font-size: 15px;">keyboard_arrow_up</mat-icon>
    </button>
    <button mat-icon-button *ngIf="vProduct.identification.folded" (click)="vProduct.identification.folded = !vProduct.identification.folded">
      <mat-icon style="font-size: 15px;">keyboard_arrow_right</mat-icon>
    </button>
  </div>

  <div class="part-container" >

    <!-- 1) product summary -->
    <div class="row row-first">

      <!-- product -->
      <div class="cell">
        <mat-form-field>
          <mat-label>Produit</mat-label>
          <input  *ngIf="!groupInput.is_locked"
                  matInput
                  type="text"
                  [matAutocomplete]="productAutocomplete"
                  [value]="vm.product.name"
                  (keyup)="vm.product.inputChange($event)"
                  (focus)="vm.product.focus()"
                  (blur)="vm.product.restore()"
                  placeholder="Commencez à taper le nom" />

          <input  *ngIf="groupInput.is_locked"
                  matInput
                  disabled
                  type="text"
                  [value]="vm.product.name"
                  placeholder="Commencez à taper le nom" />

          <mat-icon *ngIf="line.is_accomodation" matSuffix style="vertical-align: sub;">hotel</mat-icon>
          <mat-icon *ngIf="line.is_meal" matSuffix style="vertical-align: sub;">restaurant</mat-icon>
          <mat-hint></mat-hint>
          <mat-hint [align]="'end'">
            <span *ngIf="line.qty_accounting_method == 'accomodation'">au logement</span>
            <span *ngIf="line.qty_accounting_method == 'person'">à la personne</span>
            <span *ngIf="line.qty_accounting_method == 'unit'">à l'unité</span>
          </mat-hint>


          <button mat-button *ngIf="vm.product.name.length && !groupInput.is_locked" matSuffix mat-icon-button aria-label="Clear" (click)="vm.product.reset()">
            <mat-icon>close</mat-icon>
          </button>

          <mat-autocomplete #productAutocomplete="matAutocomplete" [displayWith]="vm.product.display" (optionSelected)="vm.product.change($event)">
            <div  *ngIf="vm.product.filteredList | async; let list">
              <mat-option *ngFor="let product of list" [value]="product">
                {{product.name}}
              </mat-option>
              <mat-option *ngIf="list.length == 0"><i>pas de résultat</i></mat-option>
            </div>
          </mat-autocomplete>

        </mat-form-field>
      </div>


      <!-- qty -->
      <div class="cell cell-right" [class.cell-text]="groupInput.is_locked">
        <span *ngIf="groupInput.is_locked">{{vm.qty.value }}</span>
        <mat-form-field *ngIf="!groupInput.is_locked">
          <mat-label>Quantité</mat-label>
          <input  type="number"
                  matInput
                  (blur)="vm.qty.change()"
                  [formControl]="vm.qty.formControl" >
          <mat-error *ngIf="vm.qty.formControl.hasError('required')">
            Ne peut être vide.
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Freebies -->
      <div class="cell cell-text cell-right" >
        <span *ngIf="!groupInput.is_locked">{{vm.free_qty.value }}</span>
      </div>

      <!-- Unit Price -->
      <div class="cell cell-right" [class.cell-text]="vProduct.unit_price.folded" (clickOut)="vProduct.unit_price.folded = true">
        <span [hidden]="!vProduct.unit_price.folded || groupInput.is_locked" (click)="vProduct.unit_price.folded = false">{{vm.unit_price.value | number: '1.2-2'}} €</span>
        <mat-form-field [hidden]="vProduct.unit_price.folded">
          <mat-label>Prix unitaire</mat-label>
          <input  #unitPriceInput
                  type="number"
                  matInput
                  (blur)="vm.unit_price.change(); vProduct.unit_price.folded = true"
                  [formControl]="vm.unit_price.formControl" >
        </mat-form-field>
      </div>

      <!-- Discount -->
      <div class="cell cell-text cell-right" >
        <span *ngIf="!groupInput.is_locked">{{vm.discount.value | percent}}</span>
      </div>

      <!-- Tax -->
      <div class="cell cell-right" [class.cell-text]="vProduct.vat_rate.folded" (clickOut)="vProduct.vat_rate.folded = true">
        <span [hidden]="!vProduct.vat_rate.folded || groupInput.is_locked" (click)="vProduct.vat_rate.folded = false">{{vm.vat.value | percent}}</span>        
        <mat-form-field [hidden]="vProduct.vat_rate.folded">
          <mat-label>Taux TVA</mat-label>
          <input  #unitPriceInput                   
                  type="number" 
                  matInput 
                  (blur)="vm.vat.change(); vProduct.vat_rate.folded = true"
                  [formControl]="vm.vat.formControl" >
        </mat-form-field>
      </div>

      <!-- Total Price -->
      <div class="cell cell-text cell-right" >
        <span *ngIf="!groupInput.is_locked">{{vm.total_price.value | number : '1.2-2'}} €</span>
      </div>

      <!-- actions (empty: set in parent component) -->
      <div class="cell cell-actions"></div>

    </div>



    <!-- 2) auto-discounts / price adapters -->
    <div class="row row-first" *ngIf="!vProduct.identification.folded && !groupInput.is_locked">
      <div class="part cell" [class.hidden]="!ready">
        <div class="part-toggle">
          <button mat-icon-button *ngIf="!vProduct.adapters.folded" (click)="vProduct.adapters.folded = !vProduct.adapters.folded">
            <mat-icon style="font-size: 15px;">keyboard_arrow_up</mat-icon>
          </button>
          <button mat-icon-button *ngIf="vProduct.adapters.folded" (click)="vProduct.adapters.folded = !vProduct.adapters.folded">
            <mat-icon style="font-size: 15px;">keyboard_arrow_right</mat-icon>
          </button>
        </div>
        <div class="part-container">
          <div class="row row-title row-thin">
          <span>Détail du prix</span>
          <span *ngIf="adapters.length">&nbsp; - &nbsp;{{adapters[0].discount_list_id.name}} <small>(min: {{adapters[0].discount_list_id.rate_min | percent}} max: {{adapters[0].discount_list_id.rate_max | percent}})</small></span>
          </div>
          <!-- auto discounts details -->
          <div class="row row-thin" *ngIf="!vProduct.adapters.folded">
            <div style="width: 100%;">              
              <div *ngFor="let adapter of adapters; let index = index;" style="display: flex;">
                <span style="flex: 0 1 50%;"><span *ngIf="adapter.discount_id.name">{{adapter.discount_id.name}}</span><span *ngIf="!adapter.discount_id.name">min </span>: </span>
                <span *ngIf="adapter.type == 'amount'">{{adapter.value | number: '1.2-2'}} €</span>
                <span *ngIf="adapter.type == 'percent'">{{adapter.value | percent}}</span>
                <span *ngIf="adapter.type == 'freebie'">{{adapter.value}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 3) manual discounts -->
    <div class="row row-first" *ngIf="!vProduct.identification.folded && !groupInput.is_locked">
      <div class="part cell" [class.hidden]="!ready">
        <div class="part-toggle">
          <button mat-icon-button *ngIf="!vProduct.discounts.folded" (click)="vProduct.discounts.folded = !vProduct.discounts.folded">
            <mat-icon style="font-size: 15px;">keyboard_arrow_up</mat-icon>
          </button>
          <button mat-icon-button *ngIf="vProduct.discounts.folded" (click)="vProduct.discounts.folded = !vProduct.discounts.folded">
            <mat-icon style="font-size: 15px;">keyboard_arrow_right</mat-icon>
          </button>
        </div>
        <div class="part-container">
          <div class="row row-title row-thin">
          <span>Réductions <button mat-mini-fab color="primary" style="transform: scale(0.65);" (click)="vm.discounts.add(); vProduct.discounts.folded = false"> <mat-icon>add</mat-icon></button></span>
          </div>
          <!-- manual discounts details -->
          <div class="row row-thin" *ngIf="!vProduct.discounts.folded">

            <div class="discounts-list">
              <!-- discounts -->
              <div class="discount-item" *ngFor="let discount of discounts; let index = index;">
                <div class="discount-remove"><button mat-icon-button (click)="vm.discounts.remove(discount)"> <mat-icon>delete</mat-icon></button></div>
                <booking-edit-bookings-group-line-discount [discountInput]="_discountOutput[index]" [discountOutput]="_discountInput" [lineInput]="line" [lineOutput]="lineOutput"></booking-edit-bookings-group-line-discount>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>