<mat-card>
    <div class="titleBox">
        <mat-card-title>{{setting.title}}</mat-card-title>
        <mat-card-subtitle>{{setting.help}}</mat-card-subtitle>
    </div>
    <mat-form-field floatLabel="always" appearance="standard" (mouseenter)="focusState = true" (mouseleave)="focusState = false" >
        <mat-slide-toggle [formControl]="control" [checked]="settingValue" (change)="valueChange($event)"> <span class="text-invisible">{{setting.title}}</span></mat-slide-toggle>
        <textarea matInput hidden></textarea>
        <mat-hint *ngIf="focusState">{{setting.description}}</mat-hint>
    </mat-form-field>
</mat-card>