<div class="container" [class.hidden]="showSbContainer">
  <div class="planning-header">Calendrier

            <button mat-icon-button  (click)="onFullScreen()" style="margin-left: auto; transform: scale(0.8);">
                <mat-icon>open_in_full</mat-icon>
            </button>            


  </div>
  <div class="planning-body" #planningBody [class.fullscreen]="fullscreen">
    <planning-calendar 
      [day]="day" 
      [month]="month" 
      [year]="year"
      >
    </planning-calendar>
  </div>

</div>

<div id="sb-planning-container" class="sb-container"></div>