<div class="cell">
  <mat-form-field style="min-width: 350px;">
    <mat-label>Unité locative</mat-label>
    <input  matInput
            type="text"
            [matAutocomplete]="rentalUnitAutocomplete"
            [value]="vm.rental_unit.name"
            (keyup)="vm.rental_unit.inputChange($event)"
            (focus)="vm.rental_unit.focus()"
            (blur)="vm.rental_unit.restore()"
            placeholder="Commencez à taper le nom" />

    <!-- <mat-hint [align]="'end'">Logement assigné à {{vm.product.name }}</mat-hint> -->

    <button mat-button *ngIf="vm.rental_unit.name.length" matSuffix mat-icon-button aria-label="Clear" (click)="vm.rental_unit.reset()">
      <mat-icon>close</mat-icon>
    </button>

    <mat-autocomplete #rentalUnitAutocomplete="matAutocomplete" [displayWith]="vm.rental_unit.display" (optionSelected)="vm.rental_unit.change($event)">
      <div  *ngIf="vm.rental_unit.filteredList | async; let list">
        <mat-option *ngFor="let rental_unit of list" [value]="rental_unit">
          {{rental_unit.name}} ({{rental_unit.capacity}})
        </mat-option>
        <mat-option *ngIf="list.length == 0"><i>pas de résultat</i></mat-option>
      </div>
    </mat-autocomplete>

  </mat-form-field>
</div>
<div class="cell">
  <mat-form-field style="max-width: 100px;">
    <mat-label>Quantité</mat-label>
    <input  type="number"
            min="0"
            matInput
            (blur)="vm.qty.change($event)"
            [formControl]="vm.qty.formControl" >
            <!--
    <mat-error *ngIf="vm.qty.formControl.hasError('required')">
      Ne peut être vide.
    </mat-error>
    -->
  </mat-form-field>
</div>